<%= form_for :session, url: session_path do |form| %>
    <p class="login-labels">Email</p>
    <%= form.text_field :email, type: 'email' %>

    <p class="login-labels">Password</p>
    <%= form.password_field :password %>

  <div class="other-links">
    <%= form.submit 'Login', class: 'btn btn-lg btn-success' %>
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-lg btn-info' %>
    <% end %>
  </div>
  <%= link_to t(".forgot_password"), new_password_path %>
<% end %>