<h1>BiggerPockets Messenger</h1>

<div id="messages">
  <%= render @messages %>
</div>

<%= form_for @message do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit %>
<% end %>