<%= link_to "Back to Chats", user_chats_path %>

<h1>Chat with <%= @other_user.name %></h1>

<div id="messages" data-chat-id="<%= @chat.id %>">
  <%= render @chat.messages %>
</div>

<%= text_area_tag :message_body %>