<p><%= link_to "Back to Chats", user_chats_path, class: 'back-btn' %></p>

<div class="chat-window">
  <h1><%= @other_user.name %></h1>
  
  <div id="chat-messages">
    <div id="messages" data-chat-id="<%= @chat.id %>">
      <% @chat.messages.each do |msg| %>
        <% if msg.user == current_user %>
          <%= render partial: 'messages/message', locals: { message: msg } %>
        <% else %>
          <%= render partial: 'messages/othermessage', locals: { message: msg } %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="message_form">
    <%= text_area_tag :message_body %>
    <button id="message_submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>  
  </div>
</div>